<h1 id="tableLabel">Garage</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!garage"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="garage">
  <thead>
    <tr>
      <th>Door</th>
      <th>Ip Address</th>
      <th>Status</th>
      <th>Reload</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let door of garage.garage.doors">
      <td>Door {{door.doorId}}</td>
      <td>{{ door.ipAddress }}</td>
      <td>{{ door.status? "online": "offline" }}</td>
      <td><button class="btn btn-primary"(click)= 'onRefresh()'>Reload</button></td>
    </tr>
  </tbody>
</table>
