<h1 id="tableLabel">My Garage</h1>

<p>{{garage.garage.name}} {{garage.garage.status? "online": "offline"}}</p>
<button class="btn btn-primary"(click)= 'onInit()'>Reload</button>
<p *ngIf="!garage"><em>Loading...</em></p>

<br>
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="garage">
  <thead>
    <tr>
      <th>Door</th>
      <th>Ip Address</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let door of garage.garage.doors">
      <td>Door {{door.doorId}}</td>
      <td>{{ door.ipAddress }}</td>
      <td>{{ door.status? "online": "offline" }}</td>
    </tr>
  </tbody>
</table>
